<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasklytic - Completed Tasks</title>
</head>
<body>
    <h1>Completed Tasks</h1>
    <% if (tasks.length > 0) { %>
        <ul>
            <% tasks.forEach(task => { %>
                <li>
                    <h3><%= task.title %></h3>
                    <p><%= task.description %></p>
                    <p>Completed On: <%= task.dueDate.toDateString() %></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No completed tasks found.</p>
    <% } %>
    <a href="/tasks">Back to All Tasks</a>
</body>
</html>
