<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the new CSS file -->
</head>
<body>
    <div class="logo">
        <img src="/images/Tasklytic.webp" alt="Tasklytic Logo">
    </div>
    <h1>Edit Task</h1>

    <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= task.title %>" placeholder="Edit your task title" required>

        <label for="description">Description:</label>
        <textarea name="description" id="description" placeholder="Edit your task description" required><%= task.description %></textarea>

        <label for="dueDate">Due Date:</label>
        <input type="date" name="dueDate" id="dueDate" value="<%= task.dueDate.toISOString().substr(0, 10) %>" required>

        <button type="submit">Update Task</button>
    </form>

    <a href="/tasks">Cancel</a>

</body>
</html>
