<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the new CSS file -->
</head>
<body>

    <h1>Login</h1>
    <% if (error_msg) { %>
        <p style="color:red;"><%= error_msg %></p>
    <% } %>
    <% if (success_msg) { %>
        <p style="color:green;"><%= success_msg %></p>
    <% } %>
    <form action="/users/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/users/register">Register</a></p>

</body>
</html>
