<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the new CSS file -->
    <img src="/images/Tasklytic.webp" alt="Tasklytic Logo" width="100" height="100" style="border-radius: 50%;">
</head>
<body>
    <h1>Register</h1>
    <% if (errors && errors.length > 0) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li style="color:red;"><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    <form action="/users/register" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%= typeof name != 'undefined' ? name : '' %>">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2">
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>
